body{
	background-color: #5975EB;
}
body * {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}
.logo{
	text-align: center;
	margin-top: 50px;
}
.logo-img{
	height: 35px;
}
.signup{
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	width: 400px;
	padding-left: 40px;
	padding-right: 40px;
}
.signup h2{
	text-align: center;
	color: #57565B;
	font-size: 30px;
	font-weight: 50;
	padding-top: 50px;
	padding-bottom: 20px;
}
label{
	margin-bottom: 80px;
	font-weight: 400;
}
input,button{
	width: 320px;
	height: 55px;
	border: 2px solid grey;
	border-radius: 3px;
	padding: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
}
button{
	height: auto;
	background-color: #3FD66F;
	margin-bottom: 50px;
	color: white;
	font-weight: 500;
	cursor: pointer;
	font-size: 22px;
}
button:hover{
	background-color: #00CA63;
}
h3{
	text-align: center;
	color: white;
}
a{
	color: white;
}
a:hover{
	color: #E7EFFA;
}